<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row" ng-controller="categoryListCtrl">

                <div class="card">
                    <div class="card-header">
                        <h2>LISTADO DE CATEGORIAS</h2>
                    </div>

                    <div class="table-responsive" style="overflow: hidden;" tabindex="12">
                        <table class="table table-striped" aria-busy="false">
                            <thead>
                                <tr>
                                    <th class="text-left" data-column-id="id">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">ID</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="sender">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Nombre</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Creado</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Acciones</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in categories">
                                    <td class="text-left">{{c.Category.id}}</td>
                                    <td class="text-left">{{c.Category.name}}</td>
                                    <td class="text-left">{{c.Category.created|date:'short'}}</td>
                                    <td>
                                        <a data-ng-click="editCategory($index)"><i class="md md-create" style="font-size: 23px"></i></a>
                                        <a data-ng-click="viewCategory($index)"><i class="md md-visibility" style="font-size: 23px"></i></a>
                                        <a data-swal-warning="" data-ng-click="delCategory($index)"><i class="md md-highlight-remove" style="font-size: 23px"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center">
                            <button type="button" class="btn btn-primary btn-icon-text waves-effect" ng-click="addCategory()"><i class="md md-add"></i>Nuevo Lugar</button>
                        </div>
                        <br>
                    </div>
                </div>          
            </div>
        </div>
    </section>
</section>