<div class="categoriesPackages index">
	<h2><?php echo __('Categories Packages'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('category_id'); ?></th>
			<th><?php echo $this->Paginator->sort('package_id'); ?></th>
			<th><?php echo $this->Paginator->sort('deleted'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($categoriesPackages as $categoriesPackage): ?>
	<tr>
		<td><?php echo h($categoriesPackage['CategoriesPackage']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($categoriesPackage['Category']['name'], array('controller' => 'categories', 'action' => 'view', $categoriesPackage['Category']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($categoriesPackage['Package']['title'], array('controller' => 'packages', 'action' => 'view', $categoriesPackage['Package']['id'])); ?>
		</td>
		<td><?php echo h($categoriesPackage['CategoriesPackage']['deleted']); ?>&nbsp;</td>
		<td><?php echo h($categoriesPackage['CategoriesPackage']['created']); ?>&nbsp;</td>
		<td><?php echo h($categoriesPackage['CategoriesPackage']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $categoriesPackage['CategoriesPackage']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $categoriesPackage['CategoriesPackage']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $categoriesPackage['CategoriesPackage']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $categoriesPackage['CategoriesPackage']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Categories Package'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Categories'), array('controller' => 'categories', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Category'), array('controller' => 'categories', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Packages'), array('controller' => 'packages', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Package'), array('controller' => 'packages', 'action' => 'add')); ?> </li>
	</ul>
</div>
