
<header id="header" data-ng-include src="'includes/headertp.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <br>
        <br>
        <section id="main-results" style="margin-top: -9%;">
            <div id="results" style="text-align: center;" class="bgm-lightblue card z-depth-1">
                <form id="form-finder">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="parameter col-md-2">
                            <div class="input-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="md md-place" style="color: white;"></i></span>
                                    <div class="fg-line">
                                        <input type="text" class="form-control bgm-lightblue" id="place" placeholder="Destino">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="parameter col-md-2">
                            <div class="input-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="md md-event" style="color: white;"></i></span>
                                    <div class="fg-line">
                                        <input type="text" class="form-control bgm-lightblue" id="departure_month" placeholder="Mes de salida">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="parameter col-md-2">
                            <div class="input-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="md md-event" style="color: white;"></i></span>
                                    <div class="fg-line">
                                        <input type="text" class="form-control bgm-lightblue" id="departure_place" placeholder="Lugar de salida">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <div class="row">
                    <label for="ts1" class="ts-label" style="color: white;">Activar filtros&nbsp;</label>
                    <div class="toggle-switch" data-ts-color="white">
                        <input id="ts1" type="checkbox" hidden="hidden" data-ng-model="ts1">
                        <label for="ts1" class="ts-helper"></label>
                    </div>
                </div>
                <br>
                <div data-ng-hide="!ts1" id="filtros">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="md md-airplanemode-on" style="color: white;"></i></span>
                                <div class="fg-line select bgm-lightblue">    
                                    <select class="form-control bgm-lightblue" style="color: white;" id="filer-airline" data-ng-disabled="!ts1">
                                        <option value="Select an Option">Aerolínea</option>
                                        <option value="Airline1">Aerolíneas Argentinas</option>
                                        <option value="Airline2">LAN</option>
                                        <option value="Airline3">American Airlines</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding-right: 0px;">
                            <div class="input-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="md md-hotel" style="color: white;"></i></span>
                                    <label style="color: white;">Hotel</label>
                                </div>
                            </div>
                            <div style="text-align: left">
                                <label><input type="checkbox" name="star1" id="star1" data-ng-disabled="!ts1" onclick="validate(1)"/></label>
                                <label><input type="checkbox" name="star2" id="star2" data-ng-disabled="!ts1" onclick="validate(2)"/></label>
                                <label><input type="checkbox" name="star3" id="star3" data-ng-disabled="!ts1" onclick="validate(3)"/></label>
                                <label><input type="checkbox" name="star4" id="star4" data-ng-disabled="!ts1" onclick="validate(4)"/></label>
                                <label><input type="checkbox" name="star5" id="star5" data-ng-disabled="!ts1" onclick="validate(5)"/></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="md md-face-unlock" style="color: white;"></i></span>
                                    <label style="color: white;">Pasajeros</label>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="numeric" class="form-control bgm-blue" id="mayores" data-ng-disabled="!ts1" style="width: 30px; color: white;" value="0">
                                            <span class="input-group-addon last">
                                                <label style="color: white;">Adultos</label><br>
                                                <small style="color: white;"><i>(+11 años)</i></small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="numeric" class="form-control bgm-blue" id="menores" data-ng-disabled="!ts1" style="width: 30px; color: white;" value="0">
                                            <span class="input-group-addon last">
                                                <label style="color: white;">Niños</label><br>
                                                <small><i style="color: white;">(3 a 11 años)</i></small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="numeric" class="form-control bgm-blue" id="bebes" data-ng-disabled="!ts1" style="width: 30px; color: white;" value="0">
                                            <span class="input-group-addon last">
                                                <label style="color: white;">Bebés</label><br>
                                                <small><i style="color: white;">(0 a 2 años)</i></small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="md md-local-atm" style="color: white;"></i></span>
                                    <label style="color: white;">Rango de precios (u$s)</label>
                                </div>
                            </div>
                            <br>
                            <div class="m-b-20 clearfix">
                                <div class="input-slider-values-tp m-b-15" data-is-color="white" id="precios" data-ng-disabled="!ts1"></div>
                                    <strong class="pull-left text-muted" style="color: white;" id="value-lower"></strong>
                                    <strong class="pull-right text-muted" style="color: white;" id="value-upper"></strong>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="input-group-btn" style="text-align: center">
                        <button type="submit" class="btn btn-default" id="btn-find" style="right; color: #03A9F4"><i class="md-lg md-search" style=" color: #03A9F4;"></i><b>Buscar</b></button>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">
                    <div class="row" style="text-align: center;">
                        <h5 style="color: white;">DESPLEGAR BÚSQUEDA DE PAQUETE</h5>
                        <br>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div  id="lupa" class="col-md-2 bgm-lightblue card" style="text-align: center; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; width: 80px; left: 75px; margin-top: -2%">
                    <a href="" id="lupita"><h1><li class="md-lg md-search" style=" color: white;"></li></h1></a>
                </div>
            </div>
        </section>

        <section>
<!--             
                ACÁ VAN LOS RESULTADOS

 -->
        </section>


    </section>
</section>


<script type="text/javascript">
    
    var band = 0;

    $('#lupita').click(function(){
        if (band == 0) {
            document.getElementById('filtros').style.display = "block";
            $( "#main-results" ).animate({marginTop: "0%"}, "fast", "linear");
            band = 1;
        } else {
            document.getElementById('filtros').style.display = "none";
            $( "#main-results" ).animate({marginTop: "-9%"}, "fast", "linear");
            band = 0;     
        }; 
    })

    function customCheckbox(checkboxName){
        var checkBox = $('input[name="'+ checkboxName +'"]');
        $(checkBox).each(function(){
            $(this).wrap( "<span class='custom-checkbox'></span>" );
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
        });
        $(checkBox).click(function(){
            $(this).parent().toggleClass("selected");
        });
    }

    function validate(n) {
        if (document.getElementById('star'+n).checked) {
            for (var i = 1; i < n; i++) {
                document.getElementById('star'+i).checked = true;
                $('#star'+i).parent().addClass("selected");
            };
        } else {
            for (var i = 1; i <= 5; i++) {
                document.getElementById('star'+i).checked = false;
                $('#star'+i).parent().removeClass("selected");
            };
            for (var i = 1; i < n; i++) {
                document.getElementById('star'+i).checked = true;
                $('#star'+i).parent().addClass("selected");
            };
        };
    }

    $(document).ready(function (){
        customCheckbox("star1");
        customCheckbox("star2");
        customCheckbox("star3");
        customCheckbox("star4");
        customCheckbox("star5");
    })


</script>