#main-finder{
    background-image: url('http://turismovittorio.com.ar/img/fondo-reserva-1366px.jpg');
		width: 100%;
		background-repeat: no-repeat;
		height: 100vh;
		background-size: cover;
	}		
	#finder{
		width: 80%;
		left: 10%;
		position: absolute;
		top: 40vh;
		opacity: 0.8;
	}
	#message{
		height: 30vh;
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.69);
		padding: 3% 10%;
	}

	#finder .parameter{
		background-color: rgb(255, 255, 255);
		padding: 15px 10px;
		border-radius: 3px 0px 0px 3px;
		border-radius: 0;
		border-left: 1px solid rgb(204, 204, 204);
	}
	#finder .parameter:first-child{
		border-radius: 3px 0px 0px 3px;
		border-left: 0;
	}
	#finder .date-input{
		  padding-top: 8px;
	}

	#finder .input-group-addon {
		  padding: 4px;
	}

	#finder .m-t-14{
	  margin-top: 14px !important;
	}



	#finder .fg-float{
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 3px;
	}

	#finder .fg-float .fg-label {
	    position: absolute;
	    bottom: 0px;
	    left: 10px;
	    font-size: 17px;
	    top: 15px;
		-webkit-transition: all;
		-o-transition: all;
		transition: all;
		-webkit-transition-duration: 200ms;
		transition-duration: 200ms;
	}

	#finder .fg-float .fg-toggled + .fg-label {
		top: -10px;
		font-size: 11px;
	}


	#finder .fg-label-date{
		margin-left: 45px;
	}

	#finder .input-group{
		width: 100%;
	}

	#finder .input-group-btn{
	    width: 16.66666667%;	    
	}

	#finder .input-group-btn .btn{
		  padding: 24px 16px 24px 16px;
		font-size: 24px;
		line-height: 1.3333333;
		width: 100%;
		font-weight: 600;
	}

	#main-finder h1{
		text-align: center;
		color: rgb(255, 255, 255);
		font-size: 70px;
		vertical-align: middle;
		margin-top: 0;
	}

	#main-finder h3{
		padding-top: 0vh;
		text-align: center;
		color: rgb(255, 255, 255);
		font-size: 20px;
		margin-top: 0;
		font-weight: 500;
	}

	#main-finder video{
		position: absolute;
		margin: 0;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.pac-container:after {
    	display: none !important;
	}

	.ui-autocomplete {
		background-color: rgb(255, 255, 255);
		position: absolute!important;
		z-index: 1000;
		border-radius: 2px;
		border-top: 1px solid rgb(217, 217, 217);
		font-family: Arial,sans-serif;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
	}

	.ui-autocomplete:after{
		content:"";
		padding:1px 1px 1px 0;
		height:16px;
		text-align:right;
		display:block;
		background-position:right;
		background-repeat:no-repeat;
		background-size:104px 16px;
		min-width: 200px;;
	}
	.ui-menu-item{
		cursor:default;
		padding:0 4px;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		line-height:30px;
		text-align:left;
		border-top:1px solid #e6e6e6;
		font-size:13px;
		color:#000
		padding-right:3px;
	}
	.ui-menu-item:hover{
		background-color:#fafafa !important;
		border-top: 1px solid rgb(230, 230, 230) !important;	
		border-bottom: 1px solid rgb(230, 230, 230) !important;	
	}

	.ui-state-focus{
		background-color:#fafafa !important;
		border-top: 1px solid rgb(230, 230, 230) !important;	
		border-bottom: 1px solid rgb(230, 230, 230) !important;	
	}
	.ui-menu-item-selected,.ui-menu-item-selected:hover{
		background-color:#ebf2fe
	}
	.ui-menu-item-icon{
		width:15px;
		height:20px;
		margin-right:7px;
		margin-top:6px;
		display:inline-block;
		vertical-align:top;
		background-image:url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
		background-size:34px
	}
	.hdpi .ui-menu-item-icon{
		background-image:url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
	}
	.ui-menu-item-icon-search{
		background-position:-1px -1px
	}
	.ui-menu-item-item-selected .ui-menu-item-icon-search{
		background-position:-18px -1px
	}
	.ui-menu-item-icon-marker{
		background-position:-1px -161px
	}
	.ui-menu-item-item-selected .ui-menu-item-icon-marker{
		background-position:-18px -161px
	}
	.ui-menu-item-placeholder{
		color:gray
	}