.card .card-header[class*="bgm-"] h2, .card .card-header[class*="bgm-"] h2 small {
  margin-bottom: 5px;
}
.t-5 {
	top: -5px !important;
}

.md-favorite-outline{
	margin-top:5px;
}

.profile-view .pv-body {
  margin-top: 20px !important;
  height: 261px;
}
.pv-contact{
	text-align: left;
}

.pv-contact .md{
	font-size: 25px; !important;
}

.table-responsive{
	max-height: 160px;
}

.table th {
  text-align: center !important;
}

.pv-body p{
	text-align: left;
	margin-bottom: 0px !important;
  	margin-top: 13px !important;
  	min-height: 50px;
}

.list-group .list-group-item{
	text-align: left;
}

.profile-view .pv-body > h2 {
	text-align: right;
	float: right;
}

.badge .badge-primary{
  background-color: rgb(33, 150, 243);
}

h4.money {
	color: rgb(6, 138, 177) !important;
	margin: 1px;
}

h4.money small{
	text-transform: lowercase;
  	color: rgb(6, 138, 177) !important;
  	float: left;
}

.c-black {
  min-height: 10px !important;
}

.popover{
	min-width: 70px;
    text-align: center !important;
    background-color: rgb(0, 0, 0) !important;
	border-color: rgb(0, 0, 0) !important;
}

.popover-title{
	padding: 5px 10px !important;
	background-color: rgb(0, 0, 0) !important;
	text-transform: capitalize !important;
	color: rgb(255, 255, 255);
	text-align: center !important;
}

.popover-content{
	display:none;
}

.popover.top > .arrow{
    border-top-color: rgb(0, 0, 0) !important;
}

.popover.top > .arrow:after {
  border-top-color: rgb(0, 0, 0) !important;
}

.bgm-blueheader{
	background-color:rgb(6, 138, 177) !important;
}

.bgm-btn-plus{
	background-color: rgb(8, 175, 220) !important;
}

.card-header{
	height: 112px;
}

.card-header h2{
	width: calc(100% - 50px);
}

.list-group{
	height: 118px;
  	overflow-y: auto;
}

.card-header h5{
	color: rgb(255, 255, 255);
  	font-style: italic;
}

.btn-gray{
	background-color: rgb(231, 231, 231);
}

.list-group-item > .badge{
	background-color: rgb(179, 179, 179);
}

.pv-body h5{
	text-align: left;
  	color: rgb(115, 115, 115);
  	font-size: 12px;
}