#package-add{
    padding-top: 60px;
}

#package-add .input-group {
    width: 100% !important;;
}


#package-add .input-group .fg-line {
    padding: 0;
}


#package-add .input-group .fg-line.fg-toggled:after {
    width: 100%;
    left: 0;
}

#package-add .listview .lv-header {
    border-top: 1px solid rgb(240, 240, 240);
    padding: 12px 10px;
}

#package-add .row {
    margin-left: 0px;
    margin-right: 0px;
}

#package-add .row.rating-list {
     margin: 23px 40px;
}

#package-add .listview {
    padding: 0;
}

#package-add .card{
    padding-bottom: 1px;
}

#package-add h4.row{
    margin-left: 45px;
}

#package-add #accommodation-title{
    margin: 5px 30px;
}

#package-add .popover-content{
    padding: 0;
}

#package-add .popover-title {
    min-width: 200px;
    text-align: center;
    padding: 6px 4px 6px 4px;
}

#package-add .table-form{
    border-top: 1px solid rgb(239, 237, 237);;
    margin-top: -1px;
    padding: 0;
}

#package-add .table-form .input-group {
    width: 25% !important;
    float: left;
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

#package-add #services_div .table-form .input-group {
    width: 80% !important;
    float: left;
    margin-left: 3%;
    margin-bottom: 10px;
    margin-top: 10px;
}



#package-add .table-form .input-group:nth-child(2) {
    width: 25% !important;
    float: left;
    margin-left: 3%;
    margin-bottom: 10px;
    top: 3px;
}


#package-add .table-form .actions {
    margin-top: 12px;
    right: 15px;
    position: absolute;
}



/*#package-add .table-form .actions > li > a:hover:before, .actions > a:hover:before {
    -webkit-transform: scale3d(1.5, 1.52, 1);
    -moz-transform: scale3d(1.5, 1.52, 1);
    -ms-transform: scale3d(1.5, 1.52, 1);
    -o-transform: scale3d(1.5, 1.52, 1);
    transform: scale3d(1.5, 1.52, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

#package-add .table-form .md-add-circle-outline{
    font-size: 31px;
}*/

#package-add .actions h5.icon-hotel{
    font-size: 17px;
    margin-top: 5px;
    margin-left: 3px;
}

#package-add div.number-nights{
    float: left;
    clear: none;
    width: 250px !important;
}

#package-add .accommodation{
    float: left;
    clear: both;
    margin-top: 15px;
    margin-right: 10px;
}

#package-add .listview .lv-accommodation{
    padding-top: 0 !important;
    padding-bottom: 0 !important;;
}

#package-add .under-table-form{
    padding: 5px 30px;
}

#package-add .under-table-form .form-control{
    margin-top: -3px;
}

#package-add .table-form-td  .actions {
    margin-top: -6px;
}

#package-add .table-form-td div.text {
    margin-bottom: 3px;
    margin-top: 2px;
}

#package-add .table-form-td  .input-group-td input{
        height: 23px;
}

#package-add .table-form-td  .input-group-td button.dropdown-toggle{
    padding-top: 2px;
    padding-bottom: 2px;
}

#package-add .select:before {
    height: calc(100% - 2px);
    width: 30px;
    background-color: rgb(255, 255, 255);
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url("../img/select.png");
    pointer-events: none;
    z-index: 5;
}

#package-add .input-group-td .select, #package-add .input-group-td .select select{
    height: 23px;
    text-transform: uppercase;
}

#package-add .number{
    text-align: center;
    margin-top: 7px;
}

#package-add .selected{
    background: rgb(33, 150, 243) !important;
    color: rgb(255, 255, 255);
}

#package-add #departures .table th, #package-add #departures .table td{
    padding-left: 0;
    padding-right: 0;
}

#package-add #departures .form-control{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#package-add #departures .under-table-form {
    padding-left: 0;
    padding-right: 0;
}
 
#package-add #departures .under-table-form .col-sm-1{
    padding-left: 15px;
    padding-right: 15px;
}   

#package-add #departures .table-form .actions {
    margin-top: 0px;
    right: 15px;
    position: relative;
    text-align: center;
    width: 100%;
}

#package-add #departures table .departures-actions{
    right: 0px !important;
}

#package-add #departures .departures .text{
    margin-top: 8px;
    margin-left: 1px;
}