.profile-view .pv-header {
  background-image: url('../img/headers/sm/8.png') !important;
  background-position: bottom !important;
}

.pv-main{
    background-color: rgb(249, 248, 248) !important;
    left: 80% !important;
    border-radius: 4px !important;
    width: 260px !important;
    bottom: -25px !important;
}

.listview:not(.lv-message) .lv-title {
    font-size: 10px !important;
    text-align: left;
}

.badge{
  font-size: 10px !important;
  color: rgb(32, 32, 32) !important;
  background-color: rgb(255, 255, 255) !important;
  float: right !important;
  padding: 3px !important;
}

.md-person{
    font-size: 14px !important;
}

.count-person {
    width: 40px !important;
    height: 20px !important;
    font-size: 10px !important;
    padding-left: 3px !important;
}

.input-group .input-group-addon{
    padding-right: 4px !important;
}

.input-group{
    width: 39px !important;
    float: left;
}

.input-group .fg-line.fg-toggled:after{
  left: 0px !important;
  width: 100% !important;
}

.fg-line{
  padding: 0 !important;
}

.label-span{
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}

.listview .lv-footer {
    text-align: left !important;
}

.pv-contact {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.profile-view {
  text-align: center;
  float: left;
  width: 100%;
}

.rating-list{
    margin-top: 20px;
    border-top: 1px solid rgb(249, 249, 249);
    margin: 20px 4% !important;
}

.include i.md{
    font-size: 20px;
}

.include .media-body{
    padding: 5px 10px 0 5px !important;
    text-align: left;
}

.include .lv-item{
  padding: 5px 15px 5px !important;
}

.include .service {
    margin-top: 3px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 56, 131);
    text-align: center;
    padding: 2px 6px;
    border-radius: 2px;
    width: 30px;
}

.hotels .lv-item:hover{
    background-color: rgb(237, 237, 237);
    cursor: pointer;  
}