<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row">
                <div class="card" ng-controller="addUserCtrl">
<pre>{{user}}</pre>

                    <div class="card-header bgm-cyan">
                        <h2>NUEVO USUARIO <i class="md md-public"></i><small>You can type anything here...</small></h2>
                    </div>
                    <div class="card-body card-padding">
                        <form role="form" class="row ng-pristine ng-valid">
                            <div class="row">
                                
                                <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input" data-ng-model="user.username">
                                        </div>
                                        <label class="fg-label">Nombre de usuario</label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="password" class="form-control fg-input" data-ng-model="user.password">
                                        </div>
                                        <label class="fg-label">Contraseña</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <select class="form-control fg-input" data-ng-model="user.group_id">
                                                <option value""></option>
                                                <option data-ng-repeat="g in requestData.groups" value="{{g.Group.name}}">{{ g.Group.name }}</option>
                                            </select>
                                        </div>
                                        <label class="fg-label">Grupo</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input" data-ng-model="user.name">
                                        </div>
                                        <label class="fg-label">Nombre y apellido</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="text-align: center">
                                <div class="form-action">
                                    <button class="btn btn-primary btn-sm m-t-5 waves-effect" data-ng-click="saveUser()">Guardar</button>
                                </div>
                            </div>

                        </form>
	                </div>
	            </div>
		    </div>
        </div>
    </section>
</section>