<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row">
				<div class="card" ng-controller="addGroupCtrl">
	                <div class="card-header bgm-cyan">
	                    <h2>NUEVO GRUPO <i class="md md-public"></i><small>Ingresa los datos del grupo...</small></h2>
	                </div>
	                <div class="card-body card-padding">
	                    <form role="form" class="row ng-pristine ng-valid">
                            <div class="col-sm-3">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input type="text" class="form-control fg-input" data-ng-model="group.name">
                                    </div>
                                    <label class="fg-label">Nombre</label>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-action">
                                    <button class="btn btn-primary btn-sm m-t-5 waves-effect" data-ng-click="saveGroup()">Guardar</button>
                                </div>
                            </div>
                        </form>
	                </div>
	            </div>
		    </div>
        </div>
    </section>
</section>