<section id="main">
    <section id="content">
        <div class="row" style="text-align: center;">
            <div class="login-content" data-ng-controller="loginCtrl as lctrl">

                <!-- Login -->
                <div class="lc-block toggled" id="l-login" data-ng-if="lctrl.login === 1" style="margin-top: 0px; top: 10px; margin-bottom: 70px;">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" data-ng-model="lctrl.username">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Contraseña"  data-ng-model="lctrl.password">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                            Recordarme
                        </label>
                    </div>

                    <a href="" data-ng-click="login()" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>

                    <ul class="login-navigation">
                        <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.login = 0; lctrl.register = 1">Registrarse</li>
                        <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.login = 0; lctrl.forgot = 1">¿Olvidaste tu contraseña?</li>
                    </ul>
                </div>

                <!-- Register --> 
                <div class="lc-block" id="l-register" data-ng-if="lctrl.register === 1" style="margin-bottom: 70px; top: 10px; margin-top: 0px;">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-person"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" data-ng-model="user.username">
                        </div>
                    </div>


                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Contraseña" data-ng-model="user.password">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-mail"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Nombre y apellido" data-ng-model="user.name">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="md md-group-work"></i></span>
                        <div class="fg-line">
                            <select class="form-control fg-input" data-ng-model="user.role">
                                <option value""></option>
                                <option data-ng-repeat="g in requestData.groups" value="{{g.Group.name}}">{{ g.Group.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                            Aceptar el acuerdo de licencia {{user}}
                        </label>
                    </div>

                    <a href="" data-ng-click="register()" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>

                    <ul class="login-navigation">
                        <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.register = 0; lctrl.login = 1">Ingresar</li>
                        <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.register = 0; lctrl.forgot = 1">¿Olvidaste tu contraseña?</li>
                    </ul>
                </div>

                <!-- Forgot Password -->
                <div class="lc-block" id="l-forget-password" data-ng-if="lctrl.forgot === 1" style="margin-bottom: 70px; top: 10px; margin-top: 0px;">
                    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="md md-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Dirección de Email">
                        </div>
                    </div>

                    <a href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>

                    <ul class="login-navigation">
                        <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgot = 0; lctrl.login = 1">Ingresar</li>
                        <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgot = 0; lctrl.register = 1">Registrarse</li>
                    </ul>
                </div>

                <!-- Older IE warning message -->
                <!--[if lt IE 9]>
                    <div class="ie-warning">
                        <h1 class="c-white">Warning!!</h1>
                        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                        <div class="iew-container">
                            <ul class="iew-download">
                                <li>
                                    <a href="http://www.google.com/chrome/">
                                        <img src="img/browsers/chrome.png" alt="">
                                        <div>Chrome</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                                        <img src="img/browsers/firefox.png" alt="">
                                        <div>Firefox</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.opera.com">
                                        <img src="img/browsers/opera.png" alt="">
                                        <div>Opera</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.apple.com/safari/">
                                        <img src="img/browsers/safari.png" alt="">
                                        <div>Safari</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                        <img src="img/browsers/ie.png" alt="">
                                        <div>IE (New)</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p>Sorry for the inconvenience!</p>
                    </div>   
                <![endif]-->
                
                
                <!-- Core -->

            </div>
            
        </div>
    </section>
</section>