<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div id="package-add" class="container" ng-controller="addPackageCtrl">
            <div  ng-init="init()" class="block-header">
                <h2>Agregar nuevo paquete</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <form role="form" class="ng-pristine ng-valid">
                <!-- ________________ PAQUETE ________________ -->
                {{packages}}
                <div class="row">
                    <div class="card row">
                        <div class="card-header bgm-cyan">
                            <h2><i class="md md-redeem"></i> PAQUETE<small>Ingrese los datos propios del paquete</small></h2>
                        </div>
                        <div class="card-body card-padding row">
                            
                            <div class="col-sm-12">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="packages.Package.title" type="text" class="form-control fg-input" >
                                    </div>
                                    <label class="fg-label">Título</label>
                                </div>
                            </div>
                            <div class="col-sm-12 m-b-5">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <p class="f-500 c-gray m-b-5">Categorias</p>
                                        <select id="CategoriesPackage" class="form-control fg-input"  multiple data-placeholder="Ingrese categoría aquí..." data-tag-select data-ng-model="CategoriesPackage">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group form-group fg-float">
                                    <div class="dtp-container dropdown fg-line">
                                        <input data-ng-model="packages.Package.start_date" type="text" class="form-control" data-dt-picker data-format="DD/MM/YYYY" data-toggle="dropdown" placeholder="">
                                    </div>
                                    <label class="fg-label">Fecha de publicación</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group form-group fg-float">
                                    <div class="dtp-container dropdown fg-line">
                                        <input data-ng-model="packages.Package.expired_date" type="text" class="form-control" data-dt-picker data-format="DD/MM/YYYY" data-toggle="dropdown" placeholder="">
                                    </div>        
                                    <label class="fg-label">Fecha de expiración</label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="packages.Package.observations" type="text" class="form-control fg-input"
                                        >
                                    </div>
                                    <label class="fg-label">Observaciones</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ________________ DESTINOS Y ALOJAMIENTO ________________ -->
                <div id="accommodation" class="row card">
                    <div class="card-header bgm-cyan">
                        <h2><i class="md md-public"></i> DESTINOS Y ALOJAMIENTO<small>Elija los destinos que recorre el paquete y el alojamiento en cada uno</small></h2>
                    </div>
                    <div class="card-body card-padding row">
                        <div class="col-sm-12 m-b-15">
                            <p class="f-500 c-gray m-b-15" data-ng-model="package.Package.details">Destinos</p>
                            <select id="PackagesPlace" data-ng-model="PackagesPlace" data-tag-select multiple data-placeholder="Ingrese destinos aquí..." place-box="true"></select>
                        </div>
                        <div class="col-md-6" ng-if="packages.PackagesPlace.length">
                            <div class="block-header">
                                <h2><i class="md md-brightness-2"></i> Número de noches por destino</h2>
                            </div>
                            <div class="card table-responsive table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Destino</th>
                                            <th># noches</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="package_place in packages.PackagesPlace" >
                                            <td>
                                                <h5>{{Places[package_place.place_id].name}}, 
                                                    <small>{{Places[package_place.place_id].countryName}}</small>
                                                </h5>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="fg-line">
                                                        <input ng-model="package_place.number_nights" type="text" class="form-control" placeholder="Ingrese # noches">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="packages.PackagesPlace.length">
                            <div class="block-header">
                                <h2>
                                    <i class="md md-hotel"></i> Nueva opción de alojamiento
                                </h2>
                            </div>
                            <div class="card table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre de hotel</th>
                                            <th>Servicio del hotel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="package_place in packages.PackagesPlace" >
                                            <td>
                                                <div class="form-group">
                                                    <div class="fg-line">
                                                        <select ng-change="findHotel(event)" class="AccommodationsHotel" ng-model="AccomodationsHotel[$index].hotel_id" data-tag-select>
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group-td">
                                                    <div class="fg-line select">
                                                        <select ng-model="AccomodationsHotel[$index].service_hotel" class="form-control">
                                                            <option>Sin desayuno</option>
                                                            <option>Desayuno</option>
                                                            <option>Media pensión</option>
                                                            <option>Pensión completa</option>
                                                            <option>All Inclusive</option>
                                                        </select>                                                        
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button ng-click="addAccommodationToPackage()" class="btn btn-primary waves-effect col-sm-6 col-xs-12 pull-right">Agregar opción</button>
                        </div>
                        <div class="col-md-6" ng-if="packages.Accommodation.length">
                            <div class="block-header">
                                <h2>
                                    <i class="md md-hotel"></i> Opciones de alojamiento
                                </h2>
                            </div>
                            <div class="card table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre de hotel</th>
                                            <th>Servicio del hotel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="package_place in packages.PackagesPlace" >
                                            <td>
                                                <div class="form-group">
                                                    <div class="fg-line">
                                                        <select ng-change="findHotel(event)" class="AccommodationsHotel" ng-model="package_place.AccommodationsHotel.hotel_id" data-tag-select>
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group-td">
                                                    <div class="fg-line select">
                                                        <select ng-model="package_place.AccommodationsHotel.service_hotel" class="form-control">
                                                            <option value="Sin desayuno">Sin desayuno</option>
                                                            <option value="Desayuno">Desayuno</option>
                                                            <option value="Media pensión">Media pensión</option>
                                                            <option value="Pensión completa">Pensión completa</option>
                                                            <option value="All Inclusive">All Inclusive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <button ng-click="addAccommodationToPackage()" class="btn btn-primary waves-effect col-sm-6 col-xs-12 pull-right">Agregar opción</button>                            
                        </div>
                        {{packages.PackagesPlace}}
                    </div> 
                </div>
                <!-- ________________ CRUCEROS ________________ -->
                <div class="row">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2> <i class="md md-directions-ferry"></i> CRUCEROS<small>Ingrese un viaje en crucero si corresponde</small></h2>
                        </div>
                        <div class="card-body card-padding">
                           
                        </div>
                    </div>
                </div>
                <!-- ________________ SERVICIOS ________________ -->
                <div class="row" id="services_div">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2> <i class="md md-assignment-turned-in"></i> SERVICIOS <small>Ingrese todos los servicios que incluye el paquete: excursiones, traslados, etc.</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="row rating-list">
                                <div class="table-responsive table-form">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-1">#</th>
                                                <th class="col-xs-5">Descripción del servicio</th>
                                                <th class="col-xs-5">Tipo de servicio</th>
                                                <th class="col-xs-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng_repeat="service in packages.Service">
                                                <td>{{$index + 1}}</td>
                                                <td class="table-form-td">
                                                     <div class="text" ng-show="(service.visible)">{{service.detail}}</div>
                                                     <div ng-show="!(service.visible)"class="input-group-td">
                                                        <div class="fg-line">
                                                            <input ng-model="service.detail" type="text" class="form-control" placeholder="Ingrese descripción del servicio">
                                                        </div>
                                                    </div>
                                                 </td>
                                                 <td class="table-form-td">
                                                    <div class="text" ng-show="(service.visible)">{{requestData.serviceKindsList[service.service_kind_id] | uppercase}}</div>
                                                    <div ng-show="!(service.visible)" class="input-group-td">
                                                        <div class="fg-line select">
                                                            <select ng-options="serviceKind.ServiceKind.id as serviceKind.ServiceKind.name for serviceKind in requestData.serviceKinds" ng-model="service.service_kind_id" class="form-control">
                                                            </select>
                                                    </div>
                                                 </td>
                                                 <td class="table-form-td">
                                                     <ul class="actions">
                                                        <li ng-show="!service.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Confirmar edición">
                                                            <a href="" ng-click="service.visible = !(service.visible)">
                                                                <i class="md md-check-box"></i>
                                                            </a>
                                                        </li>
                                                        <li ng-show="service.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Editar servicio">
                                                            <a href="" ng-click="service.visible = !(service.visible)">
                                                                <i class="md md-mode-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Eliminar servicio">
                                                            <a href="" ng-click="deleteServiceToPackage($index)">
                                                                <i class="md md-highlight-remove"></i>
                                                            </a>
                                                        </li>


                                                    </ul>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                            <div class="row under-table-form">
                                <div class="col-sm-1 hidden-xs"></div>
                                <div class="col-sm-5 col-xs-12 m-b-15">
                                    <div class="fg-line">
                                        <input ng-model="services.detail" type="text" class="form-control" placeholder="Ingrese descripción del servicio">
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-12 m-b-15">
                                    <div class="fg-line">
                                        <select title="Elija el tipo de servicio" ng-model="services.service_kind_id" class="selectpicker service-kinds-selectpicker" id="ServiceKindId">
                                        </select>
                                    </div>
                                </div>
                                <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                    <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar servicio">
                                        <a href="" ng-click="addServiceToPackage()">
                                            <i class="md md-add-circle-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="col-xs-12 visible-xs m-b-15">
                                    <button class="btn btn-primary btn-block waves-effect" ng-click="addServiceToPackage()">
                                        Agregar servicio
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ________________ ITINERARIO _______________ -->
                <div class="row">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2> <i class="md md-assignment-turned-in"></i> ITINERARIO <small>Ingrese todos los días del programa junto con sus respectivas actividades.</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="row rating-list">
                                <div class="table-responsive table-form">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-1">#</th>
                                                <th class="col-xs-10">Descripción de actividades</th>
                                                <th class="col-xs-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng_repeat="day in packages.Day">
                                                <td>{{$index + 1}}</td>
                                                <td class="table-form-td">
                                                     <div class="text" ng-show="(day.visible)">{{day.detail}}</div>
                                                     <div ng-show="!(day.visible)"class="input-group-td">
                                                        <div class="fg-line">
                                                            <input ng-model="day.detail" type="text" class="form-control" placeholder="Ingrese actividades del día">
                                                        </div>
                                                    </div>
                                                 </td>
                                                 <td class="table-form-td">
                                                     <ul class="actions">
                                                        <li ng-show="!day.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Confirmar edición">
                                                            <a href="" ng-click="day.visible = !(day.visible)">
                                                                <i class="md md-check-box"></i>
                                                            </a>
                                                        </li>
                                                        <li ng-show="day.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Editar dia del itinerario">
                                                            <a href="" ng-click="day.visible = !(day.visible)">
                                                                <i class="md md-mode-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Eliminar día del itinerario">
                                                            <a href="" ng-click="deleteDayToPackage($index)">
                                                                <i class="md md-highlight-remove"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                            <div class="row under-table-form">
                                <div class="col-sm-1 hidden-xs number">{{dayOfTheItinerary}}</div>
                                <div class="col-sm-10 col-xs-12 m-b-15">
                                    <div class="fg-line">
                                        <input ng-enter="addDayToPackage()" ng-model="days.detail" type="text" class="form-control" placeholder="Ingrese las actividades del día">
                                    </div>
                                </div>
                                <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                    <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar día al itinerario">
                                        <a href="" ng-click="addDayToPackage()">
                                            <i class="md md-add-circle-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="col-xs-12 visible-xs m-b-15">
                                    <button class="btn btn-primary btn-block waves-effect" ng-click="addDayToPackage()">
                                        Agregar día al itinerario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- __________________ SALIDA _________________ --> 
                <div id="departures" class="row">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2><i class="md md-work"></i> SALIDAS<small>Ingrese las salidas del paquetes junto con el tipo de transporte y el origen - destino del viaje...</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="row">              
                                <!-- Tipo de transporte -->                  
                                <div class="m-b-25 col-sm-4 col-xs-12">
                                    <p class="text-center c-black f-500 m-b-20">Elija el tipo de transporte</p>
                                    <div class="text-center m-t-30">
                                        <label class="radio radio-inline m-r-20">
                                            <input type="radio" ng-model="transportKind" name="transportKind" value="md-airplanemode-on">
                                            <i class="input-helper"></i>  
                                            Avión
                                        </label>

                                        <label class="radio radio-inline m-r-20">
                                            <input type="radio" ng-model="transportKind" name="transportKind" value="md-directions-bus">
                                            <i class="input-helper"></i>  
                                            Bus
                                        </label>

                                        <label class="radio radio-inline m-r-20">
                                            <input type="radio" ng-model="transportKind" name="transportKind" value="md-directions-ferry">
                                            <i class="input-helper"></i>  
                                            Crucero
                                        </label>  
                                        <div class="m-t-30 col-xs-12">
                                            <i style="font-size: 100px;" class="m-t-30  md {{transportKind}}"></i>  
                                        </div>
                                    </div>                                  
                                </div>
                                <!-- Calendario -->
                                <div class="m-b-25 col-sm-4 col-xs-12">
                                    <p class="text-center c-black f-500 m-b-20">Seleccione las fechas de salida</p>
                                    <div class="input-group form-group">
                                        <div class="dtp-container dropdown fg-line">
                                            <input id="departureCalendar" class="hidden" ng-model="departureDate" inline="true" data-dt-picker data-format="DD/MM/YYYY"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Listado de salidas -->
                                <div class="m-b-25 col-sm-4 col-xs-12">
                                    <p class="text-center c-black f-500 m-b-20">Listado de salidas</p>
                                    <div class="table-form">
                                        <table class="table departures">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-4">Fecha</th>
                                                    <th class="col-xs-4 text-center">¿Ruta común?</th>
                                                    <th class="col-xs-4 text-center">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="departure in packages.Departure | orderBy:departure.date">
                                                    <td>
                                                        <div ng-show="departure.visible" class="text">{{departure.date | date:'dd/MM/yyyy'}}</div>
                                                        <div ng-show="!(departure.visible)" class="input-group-td">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.date" type="date" class="form-control" ng-value="{{departure.date| date:'yyyy/MM/dd'}}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="toggle-switch">
                                                            <input value="true" ng-model="departure.sameRoute" id="sameRoute{{$index}}" type="checkbox" hidden="hidden" ng-change="updateVariedRoute($index)">
                                                            <label for="sameRoute{{$index}}" class="ts-helper"></label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <ul class="text-center departures-actions actions col-sm-1 col-xs-12 hidden-xs">
                                                            <li ng-show="!departure.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Confirmar edición">
                                                                <a href="" ng-click="departure.visible = !(departure.visible)">
                                                                    <i class="md md-check-box"></i>
                                                                </a>
                                                            </li>
                                                            <li ng-show="departure.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Editar servicio">
                                                                <a href="" ng-click="departure.visible = !(departure.visible)">
                                                                    <i class="md md-mode-edit"></i>
                                                                </a>
                                                            </li>
                                                           <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Eliminar salida">
                                                                <a href="" ng-click="deleteDepartureToPackage($index); updateVariedRoute()">
                                                                    <i class="md  md-highlight-remove"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="m-b-25 col-xs-12" ng-if="packages.Departure.length">
                                    <div class="row card-body card-padding">
                                        <div class="col-xs-12 table-responsive table-form">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-1 text-center">Ruta común</th>
                                                        <th class="col-xs-2 text-center">Aerolinea</th>
                                                        <th class="col-xs-1 text-center"># de vuelo</th>
                                                        <th class="col-xs-1 text-center">Origen</th>
                                                        <th class="col-xs-2 text-center">Hora de salida</th>
                                                        <th class="col-xs-1 text-center">Destino</th>
                                                        <th class="col-xs-2 text-center">Hora de llegada</th>
                                                        <th class="col-xs-1 ">
                                                            <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                                                <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar nuevo tramo">
                                                                    <a href="" ng-click="addSameRoute()">
                                                                        <i class="md md-add-circle-outline"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="col-xs-12 visible-xs m-b-15">
                                                                <button class="btn btn-primary btn-block waves-effect" ng-click="addSameRoute()">
                                                                    Agregar nuevo tramo
                                                                </button>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="departure in sameRoutes" >
                                                        <td class="col-sm-1 hidden-xs number">
                                                            Ida - {{departure.ida.order_number}}
                                                        </td>
                                                        <td class="col-sm-2 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.ida.airline_id"         type="text" class="form-control" placeholder="Aerolinea">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-1 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.ida.flight_number"      type="text" class="form-control" placeholder="# vuelo">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.ida.departure_airport"  type="text" class="form-control" placeholder="Origen">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-1 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.ida.departure_time"     type="text" class="form-control" placeholder="Hora salida">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.ida.arrival_airport"    type="text" class="form-control" placeholder="Destino">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-1 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.ida.arrival_time"       type="text" class="form-control" placeholder="Hora llegada">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="departure in sameRoutes | orderBy:'-vuelta.order_number'">
                                                        <td class="col-sm-1 hidden-xs number">
                                                            Vuelta - {{departure.vuelta.order_number}}
                                                        </td>
                                                        <td class="col-sm-2 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.vuelta.airline_id"           type="text" class="form-control" placeholder="Aerolinea">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-1 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.vuelta.flight_number"       type="text" class="form-control" placeholder="# vuelo">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.vuelta.departure_airport"   type="text" class="form-control" placeholder="Origen">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-1 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.vuelta.departure_time"      type="text" class="form-control" placeholder="Hora salida">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-model="departure.vuelta.arrival_airport"     type="text" class="form-control" placeholder="Destino">
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-1 col-xs-12 m-b-15">
                                                            <div class="fg-line">
                                                                <input ng-enter="" ng-model="departure.vuelta.arrival_time" type="text" class="form-control" placeholder="Hora llegada">
                                                            </div>
                                                        </td>
                                                    <td class="text-center">
                                                        <ul class="text-center departures-actions actions col-sm-1 col-xs-12 hidden-xs">
                                                           <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Eliminar tramo">
                                                                <a href="" ng-click="deleteSameRoute($index)">
                                                                    <i class="md  md-highlight-remove"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row under-table-form">
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="departure in variedRoutes" class="m-b-25 col-xs-12" ng-if="variedRoutes.length">
                                    <div class="row card-body card-padding">
                                        <div class="col-xs-12 table-responsive table-form">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-1 text-center">{{departure.date}}</th>
                                                        <th class="col-xs-2 text-center">Aerolinea</th>
                                                        <th class="col-xs-1 text-center"># de vuelo</th>
                                                        <th class="col-xs-1 text-center">Origen</th>
                                                        <th class="col-xs-2 text-center">Hora de salida</th>
                                                        <th class="col-xs-1 text-center">Destino</th>
                                                        <th class="col-xs-2 text-center">Hora de llegada</th>
                                                        <th class="col-xs-1 text-center"></th>
<!--                                                         <th class="col-xs-1 ">
                                                            <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                                                <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Elimniar salida">
                                                                    <a href="" ng-click="deleteDepartureToPackage(); updateVariedRoute()">
                                                                        <i class="md md-highlight-remove"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="air_transport in departure.AirTransport">
                                                        <td class="text-center">Tramo {{$index + 1}}</td>
                                                        <td>{{airports[air_transport.departure_airport_id]}}</td>
                                                        <td>{{air_transport.departure_time | date:'dd/mm/yyyy'}}</td>
                                                        <td>{{airports[air_transport.arrival_airport_id]}}</td>
                                                        <td>{{air_transport.arrival_time | date:'dd/mm/yyyy'}}</td>
                                                        <td>{{airports[air_transport.departure_airport_id]}}</td>
                                                        <td>{{air_transport.flight_number}}</td>
                                                        <td>
                                                            <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                                               <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar día al itinerario">
                                                                    <a href="" ng-click="addDayToPackage()">
                                                                        <i class="md md-add-circle-outline"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row under-table-form">
                                            <div class="col-sm-1 hidden-xs number">Ida
                                                <input ng-model="departure.Ida[$index].order_number" ng-init="departure.Ida[$index].order_number=$index + 1" hidden>
                                            </div>
                                            <div class="col-sm-2 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Ida[$index].airline_id"         type="text" class="form-control" placeholder="Aerolinea">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Ida[$index].flight_number"      type="text" class="form-control" placeholder="# vuelo">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Ida[$index].departure_airport"  type="text" class="form-control" placeholder="Origen">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Ida[$index].departure_time"     type="text" class="form-control" placeholder="Hora salida">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Ida[$index].arrival_airport"    type="text" class="form-control" placeholder="Destino">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Ida[$index].arrival_time"       type="text" class="form-control" placeholder="Hora llegada">
                                                </div>
                                            </div>
<!--                                             <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                                <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar día al itinerario">
                                                    <a href="" ng-click="addDayToPackage()">
                                                        <i class="md md-add-circle-outline"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="col-xs-12 visible-xs m-b-15">
                                                <button class="btn btn-primary btn-block waves-effect" ng-click="addDayToPackage()">
                                                    Agregar día al itinerario
                                                </button>
                                            </div> -->
                                        </div>
                                        <div class="row under-table-form">
                                            <div class="col-sm-1 hidden-xs number">Vuelta
                                                    <input ng-model="departure.Vuelta[$index].order_number" ng-init="departure.Vuelta[$index].order_number=$index + 1" hidden>
                                            </div>
                                            <div class="col-sm-2 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Vuelta[$index].airline_id"           type="text" class="form-control" placeholder="Aerolinea">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Vuelta[$index].flight_number"       type="text" class="form-control" placeholder="# vuelo">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Vuelta[$index].departure_airport"   type="text" class="form-control" placeholder="Origen">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Vuelta[$index].departure_time"      type="text" class="form-control" placeholder="Hora salida">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-model="departure.Vuelta[$index].arrival_airport"     type="text" class="form-control" placeholder="Destino">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-xs-12 m-b-15">
                                                <div class="fg-line">
                                                    <input ng-enter="addDayToPackage()" ng-model="departure.Vuelta[$index].arrival_time" type="text" class="form-control" placeholder="Hora llegada">
                                                </div>
                                            </div>
                                            <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                                <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar día al itinerario">
                                                    <a href="" ng-click="addDayToPackage()">
                                                        <i class="md md-add-circle-outline"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="col-xs-12 visible-xs m-b-15">
                                                <button class="btn btn-primary btn-block waves-effect" ng-click="addDayToPackage()">
                                                    Agregar día al itinerario
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<script type="text/javascript">
    function findHotel(event){
        if( event != null){
            angular.element('[ng-controller=addPackageCtrl]').scope().findHotel(event);
        }
        
    }
</script>