<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div id="package-add" class="container" ng-controller="addPackageCtrl">
            <div class="block-header">
                <h2>Agregar nuevo paquete</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <form role="form" class="ng-pristine ng-valid">
                <!-- ________________ PAQUETE ________________ -->
                {{packages}}
                <div class="row">
                    <div class="card row">
                        <div class="card-header bgm-cyan">
                            <h2><i class="md md-redeem"></i> PAQUETE<small>Ingrese los datos propios del paquete</small></h2>
                        </div>
                        <div class="card-body card-padding row">
                            
                            <div class="col-sm-12">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="packages.Package.title" type="text" class="form-control fg-input" >
                                    </div>
                                    <label class="fg-label">Título</label>
                                </div>
                            </div>
                            <div ng-if="requestData.categories.length" class="col-sm-12 m-b-5">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <p class="f-500 c-gray m-b-5">Categorias</p>
                                        <select ng-options="category.Category.id as category.Category.name for category in requestData.categories" id="CategoriesPackage" class="form-control fg-input"  multiple data-placeholder="Ingrese categoría aquí..." data-tag-select data-ng-model="packages.CategoriesPackage">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group form-group fg-float">
                                    <div class="dtp-container dropdown fg-line">
                                        <input data-ng-model="packages.Package.start_date" type="text" class="form-control" data-dt-picker data-format="DD/MM/YYYY" data-toggle="dropdown" placeholder="">
                                    </div>
                                    <label class="fg-label">Fecha de publicación</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group form-group fg-float">
                                    <div class="dtp-container dropdown fg-line">
                                        <input data-ng-model="packages.Package.expired_date" type="text" class="form-control" data-dt-picker data-format="DD/MM/YYYY" data-toggle="dropdown" placeholder="">
                                    </div>        
                                    <label class="fg-label">Fecha de expiración</label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="packages.Package.observations" type="text" class="form-control fg-input"
                                        >
                                    </div>
                                    <label class="fg-label">Observaciones</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ________________ DESTINOS Y ALOJAMIENTO ________________ -->
                <div id="accommodation" class="row card">
                    <div class="card-header bgm-cyan">
                        <h2><i class="md md-public"></i> DESTINOS Y ALOJAMIENTO<small>Elija los destinos que recorre el paquete y el alojamiento en cada uno</small></h2>
                    </div>
                    <div class="card-body card-padding row">
                        <div class="col-sm-12 m-b-15">
                            <p class="f-500 c-gray m-b-15" data-ng-model="package.Package.details">Destinos</p>
                            <select id="PackagesPlace" data-ng-model="PackagesPlace" data-tag-select multiple data-placeholder="Ingrese destinos aquí..." place-box="true"></select>
                        </div>
                        <div class="col-md-6" ng-if="packages.PackagesPlace.length">
                            <div class="block-header">
                                <h2><i class="md md-brightness-2"></i> Número de noches por destino</h2>
                            </div>
                            <div class="card table-responsive table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Destino</th>
                                            <th># noches</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="package_place in packages.PackagesPlace" >
                                            <td>
                                                <h5>{{Places[package_place.place_id].name}}, 
                                                    <small>{{Places[package_place.place_id].countryName}}</small>
                                                </h5>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="fg-line">
                                                        <input ng-model="package_place.number_nights" type="text" class="form-control" placeholder="Ingrese # noches">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="packages.PackagesPlace.length">
                            <div class="block-header">
                                <h2><i class="md md-hotel"></i> Posibles combinaciones de hoteles</h2>
                            </div>
                            <div class="card table-responsive table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre de hotel</th>
                                            <th>Servicio del hotel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="package_place in packages.PackagesPlace" >
                                            <td>
                                                <div class="form-group">
                                                    <div class="fg-line">
                                                        <input ng-model="package_place.number_nights" type="text" class="form-control" placeholder="Hotel - {{Places[package_place.place_id].name}}">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group-td">
                                                    <div class="fg-line select">
                                                        <select ng-model="service.service_kind_id" class="form-control">
                                                            <option>Sin desayuno</option>
                                                            <option>Desayuno</option>
                                                            <option>Media pensión</option>
                                                            <option>Pensión completa</option>
                                                            <option>All Inclusive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>
                
                <!-- ________________ CRUCEROS ________________ -->
                <div class="row">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2> <i class="md md-directions-ferry"></i> CRUCEROS<small>Ingrese un viaje en crucero si corresponde</small></h2>
                        </div>
                        <div class="card-body card-padding">
                           
                        </div>
                    </div>
                </div>
                <!-- ________________ SERVICIOS ________________ -->
                <div class="row" id="services_div">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2> <i class="md md-assignment-turned-in"></i> SERVICIOS <small>Ingrese todos los servicios que incluye el paquete: excursiones, traslados, etc.</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="card row rating-list">
                                <div class="table-responsive table-form">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-1">#</th>
                                                <th class="col-xs-5">Descripción del servicio</th>
                                                <th class="col-xs-5">Tipo de servicio</th>
                                                <th class="col-xs-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng_repeat="service in packages.Service">
                                                <td>{{$index + 1}}</td>
                                                <td class="table-form-td">
                                                     <div class="text" ng-show="(service.visible)">{{service.detail}}</div>
                                                     <div ng-show="!(service.visible)"class="input-group-td">
                                                        <div class="fg-line">
                                                            <input ng-model="service.detail" type="text" class="form-control" placeholder="Ingrese descripción del servicio">
                                                        </div>
                                                    </div>
                                                 </td>
                                                 <td class="table-form-td">
                                                    <div class="text" ng-show="(service.visible)">{{requestData.serviceKindsList[service.service_kind_id] | uppercase}}</div>
                                                    <div ng-show="!(service.visible)" class="input-group-td">
                                                        <div class="fg-line select">
                                                            <select ng-options="serviceKind.ServiceKind.id as serviceKind.ServiceKind.name for serviceKind in requestData.serviceKinds" ng-model="service.service_kind_id" class="form-control">
                                                            </select>
                                                    </div>
                                                 </td>
                                                 <td class="table-form-td">
                                                     <ul class="actions">
                                                        <li ng-show="!service.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Confirmar edición">
                                                            <a href="" ng-click="service.visible = !(service.visible)">
                                                                <i class="md md-check-box"></i>
                                                            </a>
                                                        </li>
                                                        <li ng-show="service.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Editar servicio">
                                                            <a href="" ng-click="service.visible = !(service.visible)">
                                                                <i class="md md-mode-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Eliminar servicio">
                                                            <a href="" ng-click="deleteServiceToPackage($index)">
                                                                <i class="md md-highlight-remove"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                            <div class="row under-table-form">
                                <div class="col-sm-1 hidden-xs"></div>
                                <div class="col-sm-5 col-xs-12 m-b-15">
                                    <div class="fg-line">
                                        <input ng-model="services.detail" type="text" class="form-control" placeholder="Ingrese descripción del servicio">
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-12 m-b-15">
                                    <div class="fg-line">
                                        <select title="Elija el tipo de servicio" ng-model="services.service_kind_id" class="selectpicker service-kinds-selectpicker" id="ServiceKindId">
                                        </select>
                                    </div>
                                </div>
                                <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                    <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar servicio">
                                        <a href="" ng-click="addServiceToPackage()">
                                            <i class="md md-add-circle-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="col-xs-12 visible-xs m-b-15">
                                    <button class="btn btn-primary btn-block waves-effect" ng-click="addServiceToPackage()">
                                        Agregar servicio
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ________________ ITINERARIO _______________ -->
                <div class="row">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2> <i class="md md-assignment-turned-in"></i> ITINERARIO <small>Ingrese todos los días del programa junto con sus respectivas actividades.</small></h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="card row rating-list">
                                <div class="table-responsive table-form">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-1">#</th>
                                                <th class="col-xs-10">Descripción de actividades</th>
                                                <th class="col-xs-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng_repeat="day in packages.Day">
                                                <td>{{$index + 1}}</td>
                                                <td class="table-form-td">
                                                     <div class="text" ng-show="(day.visible)">{{day.detail}}</div>
                                                     <div ng-show="!(day.visible)"class="input-group-td">
                                                        <div class="fg-line">
                                                            <input ng-model="day.detail" type="text" class="form-control" placeholder="Ingrese actividades del día">
                                                        </div>
                                                    </div>
                                                 </td>
                                                 <td class="table-form-td">
                                                     <ul class="actions">
                                                        <li ng-show="!day.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Confirmar edición">
                                                            <a href="" ng-click="day.visible = !(day.visible)">
                                                                <i class="md md-check-box"></i>
                                                            </a>
                                                        </li>
                                                        <li ng-show="day.visible" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Editar dia del itinerario">
                                                            <a href="" ng-click="day.visible = !(day.visible)">
                                                                <i class="md md-mode-edit"></i>
                                                            </a>
                                                        </li>
                                                        <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Eliminar día del itinerario">
                                                            <a href="" ng-click="deleteDayToPackage($index)">
                                                                <i class="md md-highlight-remove"></i>
                                                            </a>
                                                        </li>


                                                    </ul>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                            <div class="row under-table-form">
                                <div class="col-sm-1 hidden-xs number">{{dayOfTheItinerary}}</div>
                                <div class="col-sm-10 col-xs-12 m-b-15">
                                    <div class="fg-line">
                                        <input ng-enter="addDayToPackage()" ng-model="days.detail" type="text" class="form-control" placeholder="Ingrese las actividades del día">
                                    </div>
                                </div>
                                <ul class="actions col-sm-1 col-xs-12 hidden-xs">
                                    <li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Agregar día al itinerario">
                                        <a href="" ng-click="addDayToPackage()">
                                            <i class="md md-add-circle-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="col-xs-12 visible-xs m-b-15">
                                    <button class="btn btn-primary btn-block waves-effect" ng-click="addDayToPackage()">
                                        Agregar día al itinerario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- __________________ SALIDA _________________ --> 
                <div class="row">
                    <div class="card">
                        <div class="card-header bgm-cyan">
                            <h2><i class="md md-work"></i> SALIDAS<small>Ingrese las salidas del paquetes junto con el tipo de transporte y el origen - destino del viaje...</small></h2>
                        </div>
                        <div class="card-body card-padding row">
                            <div class="m-b-25 text-center col-sm-offset-4 col-sm-4 col-xs-12">
                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" data-icon="md-airplanemode-on" ng-model="transportKind" name="transportKind" value="air">
                                    <i class="input-helper"></i>  
                                    Avión
                                </label>

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" data-icon="md-directions-bus" ng-model="transportKind" name="transportKind" value="ground">
                                    <i class="input-helper"></i>  
                                    Bus
                                </label>

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" data-icon="md-directions-ferry" ng-model="transportKind" name="transportKind" value="water">
                                    <i class="input-helper"></i>  
                                    Crucero
                                </label>
                            </div>
                            <div class="col-sm-offset-4 col-sm-4 col-xs-12 m-">
                                <p class="text-center c-black f-500 m-b-20">Seleccione las fechas de salida</p>
                                <div class="input-group form-group">
                                    <div class="dtp-container dropdown fg-line">
                                        <input id="departureCalendar" class="hidden" ng-model="departureDate" inline="true" data-dt-picker data-format="DD/MM/YYYY"/>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="departure in packages.Departure"  class="col-sm-offset-2 col-sm-8 col-xs-12 table-responsive table-form">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{departure.date}}</th>
                                            <th>Origen</th>
                                            <th>Hora de salida</th>
                                            <th>Destino</th>
                                            <th>Hora de llegada</th>
                                            <th>Aerolinea</th>
                                            <th> # de vuelo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="air_transport in departure.AirTransport">
                                            <td></td>
                                            <td>{{airports[air_transport.departure_airport_id]}}</td>
                                            <td>{{air_transport.departure_time | date:'dd/mm/yyyy'}}</td>
                                            <td>{{airports[air_transport.arrival_airport_id]}}</td>
                                            <td>{{air_transport.arrival_time | date:'dd/mm/yyyy'}}</td>
                                            <td>{{airports[air_transport.departure_airport_id]}}</td>
                                            <td>{{air_transport.flight_number}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>