<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row" ng-controller="packageListCtrl">

                <div class="card">
                    <div class="card-header">
                        <h2>LISTADO DE PAQUETES</h2>
                    </div>

                    <div class="table-responsive" style="overflow: hidden;" tabindex="12">
                        <table class="table table-striped" aria-busy="false">
                            <thead>
                                <tr>
                                    <th class="text-left" data-column-id="id">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">ID</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="title">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Título</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="category_id">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Categoría</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="administrative-expenses">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Gastos administrativos</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="booking_fees">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Gastos de reserva</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="details">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Detalles</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="number_nights">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Número de noches</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="expired_date">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Fecha de expiración</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="operator_id">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Operador</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="created">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Creado</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in packages">
                                    <td class="text-left">{{p.Package.id}}</td>
                                    <td class="text-left">{{p.Package.title}}</td>
                                    <td class="text-left">{{p.Package.category_id}} - {{p.Category.name}}</td>
                                    <td class="text-left">{{p.Package.administrative_expenses}}</td>
                                    <td class="text-left">{{p.Package.booking_fees}}</td>
                                    <td class="text-left">{{p.Package.details}}</td>
                                    <td class="text-left">{{p.Package.number_nights}}</td>
                                    <td class="text-left">{{p.Package.expired_date|date:'short'}}</td>
                                    <td class="text-left">{{p.Package.operator_id}}</td>
                                    <td class="text-left">{{p.Package.created|date:'short'}}</td>
                                    <td>
                                        <a data-ng-click="editPlace($index)"><i class="md md-create"></i></a>
                                        <a data-ng-click="delPlace($index)"><i class="md md-clear"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center">
                            <button type="button" class="btn btn-primary btn-icon-text waves-effect" ng-click="addPackage()"><i class="md md-add"></i>Nuevo Paquete</button>
                        </div>
                        <br>
                    </div>
                </div>          
            </div>
        </div>
    </section>
</section>