<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header bgm-cyan">
                        <h2>PAQUETE <i class="md md-redeem"></i><small>Ingrese los datos del paquete...</small></h2>
                    </div>
                    <div class="card-body card-padding">
                        <form role="form" class="row ng-pristine ng-valid">

                                <div class="col-sm-9">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input" data-ng-model="package2.Package.title">
                                        </div>
                                        <label class="fg-label">Título</label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input" data-ng-model="package2.Package.category_id">
                                        </div>
                                        <label class="fg-label">Categoría</label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="input-group form-group fg-float">
                                        <span class="input-group-addon"><i class="md md-attach-money"></i></span>
                                        <div class="fg-line">
                                                <input type="text" class="form-control fg-input" data-ng-model="package2.Package.administrative_expenses">
                                        </div>
                                        <label class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gastos administrativos</label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="input-group form-group fg-float">
                                        <span class="input-group-addon"><i class="md md-attach-money"></i></span>
                                        <div class="fg-line">
                                                <input type="text" class="form-control fg-input" data-ng-model="package2.Package.booking_fees">
                                        </div>
                                        <label class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gastos de reserva</label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input" data-ng-model="package2.Package.details">
                                        </div>
                                        <label class="fg-label">Detalles</label>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group form-group">
                                        <span class="input-group-addon"><i class="md md-event"></i></span>
                                        <div class="dtp-container dropdown fg-line open">
                                            <input type="text" placeholder="Fecha de expiración" data-toggle="dropdown" data-format="DD/MM/YYYY" data-dt-picker="" class="form-control ng-valid ng-isolate-scope ng-dirty ng-valid-parse ng-touched" data-ng-model="package2.Package.expired_date" aria-expanded="true">
                                        </div>
                                    </div>
                                </div>

                            <div class="col-sm-4">
                                <div class="form-action">
                                    <button class="btn btn-primary btn-sm m-t-5 waves-effect" data-ng-click="updatePlace()">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="card">
	                <div class="card-header bgm-cyan">
	                    <h2>DESTINOS <i class="md md-public"></i><small>Elija los destinos del paquete...</small></h2>
	                </div>
	                <div class="card-body card-padding">


   <div  data-ng-repeat="choice in choices">
      <select>
         <option>Mobile</option>
         <option>Office</option>
         <option>Home</option>
      </select>
                                      <div class="col-sm-3">
                                    <div class="form-group fg-float">
                                        <div class="fg-line">
                                            <input type="text" class="form-control fg-input" data-ng-model="choice.name">
                                        </div>
                                        <label class="fg-label">Enter mobile number</label>
                                    </div>
                                </div>

      <button class="remove" data-ng-show="$last" data-ng-click="removeChoice()">-</button>
   </div>
   <button class="addfields" data-ng-click="addNewChoice()">Add fields</button>
       
   <div id="choicesDisplay">
      {{ choices }}
   </div>


	                </div>
	            </div>
		    </div>
            {{package2}}
            <div class="row">
				<div class="card">
	                <div class="card-header bgm-cyan">
	                    <h2>SALIDAS <i class="md md-work"></i><small>Ingrese los datos de la salida...</small></h2>
	                </div>
	                <div class="card-body card-padding">
                        <form>
	                    Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis. 
                        </form>
	                </div>
	            </div>
		    </div>
            <div class="row">
				<div class="card">
	                <div class="card-header bgm-cyan">
	                    <h2>SERVICIOS <i class="md md-local-pharmacy"></i><small>You can type anything here...</small></h2>
	                </div>
	                <div class="card-body card-padding">
                        <form>
	                    Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis. 
                        </form>
	                </div>
	            </div>
		    </div>
            <div class="row">
				<div class="card">
	                <div class="card-header bgm-cyan">
	                    <h2>HOTELES <i class="md md-hotel"></i><small>You can type anything here...</small></h2>
	                </div>
	                <div class="card-body card-padding">
                        <form>
	                    Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis. 
                        </form>
	                </div>
	            </div>
		    </div>
        </div>
    </section>
</section>