<div class="accommodationBases form">
<?php echo $this->Form->create('AccommodationBase'); ?>
	<fieldset>
		<legend><?php echo __('Edit Accommodation Base'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('deleted');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('AccommodationBase.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('AccommodationBase.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Accommodation Bases'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Prices'), array('controller' => 'prices', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Price'), array('controller' => 'prices', 'action' => 'add')); ?> </li>
	</ul>
</div>
