<section id="main-finder">
	<div id="finder">
		<form id="form-finder" ng-submit="submit()" ng-controller="finderCtrl">
			<div class="input-group">
		       	<div class="parameter col-lg-5">
					<div class="input-group input-group-lg m-b-10">
		                <span class="input-group-addon"><i class="md md-place"></i></span>
		                <div class="form-group fg-float">
			                <div class="fg-line">
			                    <input ng-model="place" type="text" class="input-lg form-control fg-input" id="place" autofocus>
			                </div>
			                <label class="fg-label">Destino</label>
			            </div>
		            </div>
		        </div>
				<div class="parameter col-lg-2">
		            <div class="input-group input-group-lg m-b-10">
			        	<span class="input-group-addon"><i class="md md md-event"></i></span>
			            <div class="form-group fg-float">
			                <div class="fg-line">
			                    <input ng-model="departure_month" type="text" class="input-lg form-control fg-input" id="departure_month">
			                </div>
			                <label class="fg-label">Mes de salida</label>
			            </div>
		            </div>
		        </div>    
		        <div class="parameter col-lg-3">
			        <div class="input-group input-group-lg m-b-10">
			        	<span class="input-group-addon"><i class="md  md-airplanemode-on"></i></span>
			            <div class="form-group fg-float">
			                <div class="fg-line">
			                    <input ng-model="departure_place" type="text" class="input-lg form-control fg-input" id="departure_place">
			                </div>
			                <label class="fg-label">Lugar de salida</label>
			            </div>
		            </div>
		        </div>
	            <div class="input-group-btn col-lg-2">
			    	<button type="submit" class="btn btn-primary" id="btn-find">Buscar</button>
			  	</div>
			</div>
		</form>
	</div>
	
	<div id="message">
		<h1>MÁS PAQUETES, MÁS VENTAS</h1>
		<h3>Tu agencia funcionando 24x7, todo el año</h3>		
	</div>
</section>
 <script type="text/javascript">

	$(function(){
		initialize();
		source = [];
		initial_month = (new Date()).getMonth() + 1;
		initial_year = (new Date()).getFullYear();
		for(i = initial_month;i <= ( initial_month + 19);i++){
			month = i % 13;
			
			switch(month){
				case 1: {source.push("Enero/" 		+ initial_year);break;}
				case 2: {source.push("Febrero/" 	+ initial_year);break;}
				case 3: {source.push("Marzo/" 		+ initial_year);break;}
				case 4: {source.push("Abril/" 		+ initial_year);break;}
				case 5: {source.push("Mayo/" 		+ initial_year);break;}
				case 6: {source.push("Junio/" 		+ initial_year);break;}
				case 7: {source.push("Julio/" 		+ initial_year);break;}
				case 8: {source.push("Agosto/" 		+ initial_year);break;}
				case 9: {source.push("Septiembre/" 	+ initial_year);break;}
				case 10:{source.push("Octubre/"		+ initial_year);break;}
				case 11:{source.push("Noviembre/" 	+ initial_year);break;}
				case 12:{source.push("Diciembre/" 	+ initial_year);break;}
			}

			if(i % 13 == 0){
				initial_year++;
			}
			
		}
		$("#departure_month").autocomplete({
			source:source,
			select:function(){
				$('#departure_place').focus();
			},
			_renderMenu: function( ul, items ) {
				$(ul).addClass("pac-container");
				var that = this;
				$.each( items, function( index, item ) {
					that._renderItemData( ul, item );
				});
				$( ul ).find( "li:odd" ).addClass( "odd" );
			},
			_renderItem: function( ul, item ) {
				return $( "<li>" )
					.attr( "data-value", item.value )
					.append( item.label )
					.appendTo( ul );
			}
		});

		$("#departure_place").autocomplete({
			source:["Buenos Aires", "Córdoba", "Mendoza", "Rosario", "Cualquiera"],
			_renderMenu: function( ul, items ) {
				$(ul).addClass("pac-container");
				var that = this;
				$.each( items, function( index, item ) {
					that._renderItemData( ul, item );
				});
				$( ul ).find( "li:odd" ).addClass( "odd" );
			},
			_renderItem: function( ul, item ) {
				return $( "<li>" )
					.attr( "data-value", item.value )
					.append( item.label )
					.appendTo( ul );
			}
		})

	});


	function initialize() {
		input = (document.getElementById('place'));
    	options = {types: ['(regions)']};
    	autocomplete = new google.maps.places.Autocomplete(input, options);
    	$(input).attr('placeholder', '');

		google.maps.event.addListener(autocomplete, 'place_changed', function(event) {
			$('#departure_month').focus();
  		});
	}
 </script>