<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row">
      			<div class="col-sm-4" ng-repeat="package in dataBase.package">
		            <div class="card">
		                <div class="card-header bgm-blueheader m-b-20">
		                    <h2>{{package.Package.title | uppercase}} <small>Salida: {{package.Place.name}}</small></h2>
		                    <h5>{{package.Supplier.name | uppercase}}</h5>
		                    <ul class="actions actions-alt">
		                        <li>
		                            <a href="">
		                                <i class="md-favorite-outline"></i>
		                            </a>
		                        </li>
		                        <li class="dropdown t-5">
		                            <a href="" data-toggle="dropdown">
		                                <i class="md md-more-vert"></i>
		                            </a>

		                            <ul class="dropdown-menu dropdown-menu-right">
		                                <li>
		                                    <a href="">Reservar</a>
		                                </li>
		                                <li>
		                                    <a href="">¿Alguna duda?</a>
		                                </li>
		                                <li>
		                                    <a href="">Denunciar</a>
		                                </li>
		                            </ul>
		                        </li>
		                    </ul>
		                    <button data-ui-sref="packageview" class="btn bgm-btn-plus btn-float waves-effect"><i class="md md-add"></i></button>
		                </div>
		                <div class="card-body profile-view">
				            <div class="pv-body">
				            	<h5>INCLUYE:</h5>
				                <ul class="pv-contact">
				                	<li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Travel Ace"><i class="md md-local-hospital"></i></li>
				                	<li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="Aerolíneas Argentinas"><i class="md md-airplanemode-on"></i></li>
				                	<li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="In/Out"><i class="md md-directions-bus"></i></li>
				                	<li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="{{package.Service.name}}"><i class="md md-hotel"></i></li>
				                	<li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="3"><i class="md md-star"></i></li>
				                	<li data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="{{package.Package.night}}"><i class="md md-brightness-2"></i></li>
				                </ul>
				                <div class="list-group">

			                        <a class="list-group-item" ng-repeat="departure in package.Departure">
			                            <span class="badge">{{this.randomNight()}}</span>
			                            {{departure.date | date:'dd/MM/yyyy'}}
			                        </a>
			                    </div>
			                    <h2>
			                    	<a class="btn btn-gray waves-effect">
			                    		<h4 class="money">
			                    			<small>desde </small>
			                    			<br>
			                    			{{package.Package.currency}}
			                    			{{package.Package.price | currency:'':0}}
			                    		</h4>
			                    	</a>
			                    </h2>
				            </div>
		                </div>
		            </div>
		        </div>
		    </div>
        </div>
    </section>
</section>

