<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>TOP DEST</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row">
      			 <div class="card profile-view">
      			 <!-- PRICING -->
		            <div class="pv-header">
		                <div class="pv-main">
		                	<div class="card">
					            <div class="listview">
					                <div class="lv-header">
					                    $ 7200
					                </div>
					                <div class="lv-body">
					                    <div class="lv-item">
					                        <div class="lv-title m-b-5">
					                        	<span class="label-span">Personas</span>
					                        	<div class="input-group">
							                        <div class="fg-line">
							                            <input type="number" class="form-control count-person" value="2">
							                        </div>
							                    </div>
                    							
					                        	<span class="badge">$ 14,400</span>
					                        </div>
					                        <div class="lv-title m-b-5">Impuestos y tasas<span class="badge">$ 2,877</span></div>
					                        <div class="lv-title m-b-5">Res. 3550 AFIP<span class="badge">$ 4,841</span></div>
					                    </div>
					                </div>
					                <div class="lv-footer">Total:<strong><span class="badge">$ 22,651</span></strong></div>
					            </div>
					        </div>
					    </div>
		            </div>
		            <!-- PRICING -->
		            <div class="pv-body">
		                <h2 style="text-align: left;width: 100%;  margin: 30px 3px;">La Habana y Varadero</h2>
			            <div class="card rating-list col-md-5 col-xs-12">
				            <div class="listview">
				                <div class="lv-header">
				                    <div class="m-t-5">
				                        CUPOS DISPONIBLES POR SALIDA
				                    </div>
				                    <div class="clearfix"></div>
				                </div>

				                <div class="lv-body">
				                    <div class="p-15">
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left">
				                                    07/10/2015 <i class="md md-today"></i>
				                                </div>

				                                <div class="pull-right">2</div>

				                                <div class="media-body">
				                                    <div class="progress">
				                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>

				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left">
				                                    09/10/2015 <i class="md md-today"></i>
				                                </div>

				                                <div class="pull-right">5</div>

				                                <div class="media-body">
				                                    <div class="progress">
				                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>

				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left">
				                                    12/10/2015 <i class="md md-today"></i>
				                                </div>

				                                <div class="pull-right">18</div>

				                                <div class="media-body">
				                                    <div class="progress">
				                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left">
				                                    15/10/2015 <i class="md md-today"></i>
				                                </div>

				                                <div class="pull-right">9</div>

				                                <div class="media-body">
				                                    <div class="progress">
				                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
				                                        </div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="card rating-list col-md-5 col-xs-12 include">
				            <div class="listview">
				                <div class="lv-header">
				                    <div class="m-t-5">
				                        INCLUYE
				                    </div>
				                    <div class="clearfix"></div>
				                </div>

				                <div class="lv-body">
				                    <div class="p-15">
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left"><i class="md md-local-hospital"></i></div>
				                                <div class="media-body">Travel Ace</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left"><i class="md md-airplanemode-on"></i></div>
				                                <div class="media-body">Aerolíneas Argentinas</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left"><i class="md md-directions-bus"></i></div>
				                                <div class="media-body">In/Out</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left"><i class="md md-brightness-2"></i></div>
				                                <div class="media-body">9</div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="card rating-list col-md-5 col-xs-12 include hotels">
				            <div class="listview">
				                <div class="lv-header">
				                    <div class="m-t-5">
				                        HOTELES DISPONIBLES
				                    </div>
				                    <div class="clearfix"></div>
				                </div>

				                <div class="lv-body">
				                    <div class="p-15">
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left service">
				                                	AI
				                                </div>
				                                <div class="pull-right">
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                </div>
				                                <div class="media-body">Meliá Marina Varadero</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left service">DE</i></div>
				                                <div class="pull-right">
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                </div>
				                                <div class="media-body">Sol Palmeras</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left service">MP</i></div>
				                                <div class="pull-right">
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                </div>
				                                <div class="media-body">Meliá Las Antillas</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left service">AI</div>
				                                <div class="pull-right">
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                </div>
				                                <div class="media-body">Paradisus Varadero</div>
				                            </div>
				                        </div>
				                        <div class="lv-item">
				                            <div class="media">
				                                <div class="pull-left service">DE</div>
				                                <div class="pull-right">
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                	<i class="md md-star"></i>
				                                </div>
				                                <div class="media-body">Meliá Cohiba</div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="card rating-list col-md-5 col-xs-12">
				            <div class="listview">
				                <div class="lv-header">
				                    <div class="m-t-5">
				                        DIRECCION DE LOS HOTELES
				                    </div>
				                    <div class="clearfix"></div>
				                </div>
				                <div class="lv-body">
				                    <div class="p-15">
				                    <div id="map-canvas" style="width: 100%;height: 175px;"></div>
				                    </div>
				                </div>
				            </div>
				        </div>
			        </div>
		        </div>
		    </div>
        </div>
    </section>
</section>


<script type="text/javascript">
	$(function(){
		initialize();
	});
  function initialize() {
  	var myLatlng1 = new google.maps.LatLng(23.0506653,-82.3327494);
  	var myLatlng2 = new google.maps.LatLng(23.0506664,-82.3327393);
  	var myLatlng3 = new google.maps.LatLng(23.0506675,-82.3327292);
  	var myLatlng4 = new google.maps.LatLng(23.0506686,-82.3327191);
  	var myLatlng5 = new google.maps.LatLng(23.0506697,-82.3327090);



    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(23.0506654,-82.3327094),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker1 = new google.maps.Marker({position: myLatlng1,map: map,title: 'Meliá Marina Varadero'});
    var marker2 = new google.maps.Marker({position: myLatlng2,map: map,title: 'Sol Palmeras'});
    var marker3 = new google.maps.Marker({position: myLatlng3,map: map,title: 'Meliá Las Antillas'});
    var marker4 = new google.maps.Marker({position: myLatlng4,map: map,title: 'Paradisus Varadero'});
    var marker5 = new google.maps.Marker({position: myLatlng5,map: map,title: 'Meliá Cohiba'});
  }
</script>
