<div ng-controller="RegisterCtrl">
    <h1 class="page-header">Register <small>all fields are required.</small></h1>
    <form  ng-submit="register()">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input id="emailAddress" type="email" class="input-block-level"
                           ng-model="user.email" required="true"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input id="username" type="text" class="input-block-level"
                           ng-model="user.username" required="true"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input id="password" type="password" class="input-block-level"
                           ng-model="user.password" required="true"></input>
                </div>
            </div>
        </fieldset>
        <div class=form-actions>         
            <input type="submit" class="btn btn-primary btn-block" value="Register"/>
        </div>
    </form>
</div>