
<header id="header" data-ng-include src="'includes/headertpaq.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <label>HOLA</label><br>
        <label>HOLA</label><br>
        <label>HOLA</label><br>
        <label>HOLA</label><br>
        <label>HOLA</label><br>
        <label>HOLA</label><br>
</section>
</section>