<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div id="paxes-add" class="container" ng-controller="addPaxCtrl" style="padding-top:4%">
        <div class="row">
                    <div class="card row">
                        <div class="card-header bgm-cyan">
                            <h2><i class="md md-redeem"></i> PASAJERO<small>Ingrese los datos propios del pasajero</small></h2>
                            <button class="btn bgm-teal btn-float waves-effect" data-ng-click="savePax()"><i class="md md-add"></i></button>
                        </div>
                        <div class="card-body card-padding row">
                            
                            <div class="col-sm-6">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="pax.Pax.firstname" type="text" class="form-control fg-input" >
                                    </div>
                                    <label class="fg-label">Nombre</label>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="pax.Pax.lastname" type="text" class="form-control fg-input">
                                    </div>
                                    <label class="fg-label">Apellido</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group form-group fg-float">
                                    <div class="dtp-container dropdown fg-line">
                                        <input data-ng-model="pax.Pax.birthday" type="text" class="form-control" data-dt-picker data-format="DD/MM/YYYY" data-toggle="dropdown" placeholder="">
                                    </div>        
                                    <label class="fg-label">Fecha de nacimiento</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="pax.Pax.doc" type="text" class="form-control fg-input">
                                    </div>        
                                    <label class="fg-label">Documento</label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-ng-model="pax.Pax.mail" type="text" class="form-control fg-input"
                                        >
                                    </div>
                                    <label class="fg-label">Mail</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</section>

