<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div id="paxes-index" class="container" ng-controller="indexPaxCtrl" style="padding-top:4%">

                <div class="card">
                    <div class="card-header">
                        <h2>LISTADO DE PASAJEROS</h2>
                    </div>

                    <div class="table-responsive" style="overflow: hidden;" tabindex="12">
                        <table class="table table-striped" aria-busy="false">
                            <thead>
                                <tr>
                                    <th class="text-left" data-column-id="id">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">ID</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="sender">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Nombre</span>
                                            <span class="md icon "></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Apellido</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Fecha de nacimiento</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Documento</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Mail</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                    <th class="text-left" data-column-id="received">
                                        <a class="column-header-anchor sortable" href="javascript:void(0);">
                                            <span class="text">Creado</span>
                                            <span class="md icon md-expand-more"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in paxes">
                                    <td class="text-left">{{p.Pax.id}}</td>
                                    <td class="text-left">{{p.Pax.firstname}}</td>
                                    <td class="text-left">{{p.Pax.lastname}}</td>
                                    <td class="text-left">{{p.Pax.birthday}}</td>
                                    <td class="text-left">{{p.Pax.doc}}</td>
                                    <td class="text-left">{{p.Pax.mail}}</td>
                                    <td class="text-left">{{p.Pax.created|date:'short'}}</td>
                                    <td>
                                        <a data-ng-click="editPax($index)"><i class="md md-create" style="font-size: 23px"></i></a>
                                        <a data-ng-click="viewPax($index)"><i class="md md-visibility" style="font-size: 23px"></i></a>
                                        <a data-swal-warning="" data-ng-click="delPax($index)"><i class="md md-highlight-remove" style="font-size: 23px"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center">
                            <button type="button" class="btn btn-primary btn-icon-text waves-effect" ng-click="addPax()"><i class="md md-add"></i>Nuevo Pasajaro</button>
                        </div>
                        <br>
                    </div>
                </div>          
            
        </div>
    </section>
</section>