<div class="serviceKinds form">
<?php echo $this->Form->create('ServiceKind'); ?>
	<fieldset>
		<legend><?php echo __('Edit Service Kind'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('deleted');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('ServiceKind.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('ServiceKind.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Service Kinds'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Services'), array('controller' => 'services', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Service'), array('controller' => 'services', 'action' => 'add')); ?> </li>
	</ul>
</div>
