<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Resultados de la búsqueda</h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="md md-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="md md-done-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <div class="row">
				<div class="card" ng-controller="viewPlaceCtrl">
	                <div class="card-header bgm-cyan">
	                    <h2>DATOS DEL LUGAR <i class="md md-public"></i><small>You can type anything here...</small></h2>
	                </div>
	                <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="c-black f-500 m-b-20">Nombre</p>
                                {{place.name}}
                            </div>
                            <div class="col-sm-3">
                                <p class="c-black f-500 m-b-20">País</p>
                                {{place.country}}
                            </div>
                            <div class="col-sm-3">
                                <p class="c-black f-500 m-b-20">Región</p>
                                {{place.region}}
                            </div>
                        </div>
	                </div>
	            </div>
		    </div>
        </div>
    </section>
</section>