<div class="prices index">
	<h2><?php echo __('Prices'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('currency'); ?></th>
			<th><?php echo $this->Paginator->sort('price'); ?></th>
			<th><?php echo $this->Paginator->sort('tax'); ?></th>
			<th><?php echo $this->Paginator->sort('perception'); ?></th>
			<th><?php echo $this->Paginator->sort('accommodation_base_id'); ?></th>
			<th><?php echo $this->Paginator->sort('deleted'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($prices as $price): ?>
	<tr>
		<td><?php echo h($price['Price']['id']); ?>&nbsp;</td>
		<td><?php echo h($price['Price']['currency']); ?>&nbsp;</td>
		<td><?php echo h($price['Price']['price']); ?>&nbsp;</td>
		<td><?php echo h($price['Price']['tax']); ?>&nbsp;</td>
		<td><?php echo h($price['Price']['perception']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($price['AccommodationBase']['name'], array('controller' => 'accommodation_bases', 'action' => 'view', $price['AccommodationBase']['id'])); ?>
		</td>
		<td><?php echo h($price['Price']['deleted']); ?>&nbsp;</td>
		<td><?php echo h($price['Price']['created']); ?>&nbsp;</td>
		<td><?php echo h($price['Price']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $price['Price']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $price['Price']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $price['Price']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $price['Price']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Price'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Accommodation Bases'), array('controller' => 'accommodation_bases', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Accommodation Base'), array('controller' => 'accommodation_bases', 'action' => 'add')); ?> </li>
	</ul>
</div>
